@import "../../node_modules/bulma/bulma";

body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    color: $white;
    text-align: center;
}

a {
    color: rgb(57, 57, 255);
}

.page {
    background: $grey-dark;
    background: linear-gradient(120deg, $grey-dark 0%, lighten($grey-dark, 9%) 50%, lighten($grey-dark, 18%) 100%);
    height: 100%;

    .nav-links {
        a {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
        }
    }
}